@rendermode InteractiveAuto
@page "/products"
@using LajmiBlazorWebApp.Client.Services
@using Models
@inject CartService CartService
@inject CalculateDiscountService calculateDiscountService

<h1>Vores Produkter</h1>

<div class="product-grid">
    @foreach (var product in products)
    {
        <div class="product-card">
            <div class="image-container">
                <img src="@product.ImageUrl" alt="@product.ProductName"/>
            </div>
            <div class="product-info">
                <h3>@product.ProductName</h3>

                <p class="price">
                    @if (discount > 0)
                    {
                        <span style="text-decoration: line-through;">
                            @product.ProductPrice.ToString("N2") kr
                        </span>
                        <br/>
                        <strong>
                            @GetDiscountedPrice(product).ToString("N2") kr
                        </strong>
                    }
                    else
                    {
                        <span>
                        @product.ProductPrice.ToString("N2") kr
                        </span>
                    }
                </p>

                <button class="btn-buy" @onclick="() => PlaceInCart(product.ProductId)">
                    Tilføj til kurv
                </button>
            </div>
        </div>
    }
</div>

@code {

    // ---------------------------    INFO ---------------------------
    // Hele pointen med dette er at simulerer data, der normalt ville komme fra en database eller et API 
    // Jeg sender hele data modellen op til GUI'en for test. Det skal self igennem DTO'en når vi er klar... /Jamal


    private decimal discount = 0.2m;

    private List<Product> products = new();

    protected override void OnInitialized()
    {
        products = new List<Product>
        {
            new Product { ProductId = Guid.NewGuid(), ProductName = "Brazil - MANTIQUEIRA AZUL", ProductPrice = 85.00m, ImageUrl = "/Images/Products/AZUL.png" },
            new Product { ProductId = Guid.NewGuid(), ProductName = "Tasting Box - Flere muligheder", ProductPrice = 350.00m, ImageUrl = "/Images/Products/Fyr.png", },
            new Product { ProductId = Guid.NewGuid(), ProductName = "BWT magnesium filtre (3-pak)", ProductPrice = 129.00m, ImageUrl = "/Images/Products/Mag_Water.png", },
            new Product { ProductId = Guid.NewGuid(), ProductName = "54mm naked portafilter holder", ProductPrice = 399.00m, ImageUrl = "/Images/Products/Ruby.png", }
        };
    }

// Denne metode er helt håbløs, men den virker for nu .... 
    private void PlaceInCart(Guid productId)
    {
        var product = products.FirstOrDefault(p => p.ProductId == productId);

        if (product != null)
        {
            CartService.AddProduct(product);
            Console.WriteLine($"Tilføjet: {product.ProductName}");
        }

        CartService.AddProductcounter();
    }

    private decimal GetDiscountedPrice(Product product)
    {
        decimal discount = 0.2m; // dummy
        return calculateDiscountService.CalculatePrice(product, discount);
    }

}
